body {
    font-size: 62.5%;
    font-family: sans-serif;
    background-color: #F36F20;
}

.title {
    text-align: center;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    margin: 0;
}

.animeSelect {
    display: grid;
    grid-template: repeat(3, 6rem) / repeat(3, 12rem);
    justify-content: center;
    grid-gap: 2rem;
}
.animeSelect button {
    border-radius: 1rem;
    background-size: cover;
    filter: grayscale(50%);
    color: white;
    font-size: 1.6rem;
    font-weight:600;
    -webkit-text-stroke: .1rem black;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.animeSelect button:hover {
    transform: scale(1.1);
}
.subT {
    font-size: 1.75rem;
    color: white;
}